<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galerie Animată - Steak</title>
    <link rel="stylesheet" href="/resurse/css/galerie-animata.css">
</head>
<body>

    <h1>Galeria de Steak</h1>

    <% if (imagini && imagini.length > 0) { %>
    <section id="galerie-animata">
        <% for (let img of imagini) { %>
            <figure class="poza-galerie">
                <img src="<%= cale_galerie %>/<%= img.fisier_imagine %>" 
                     alt="<%= img.continut_alternativ %>" 
                     title="<%= img.descriere_poza %>">
                <figcaption><%= img.descriere_poza %></figcaption>
            </figure>
        <% } %>
    </section>
<% } else { %>
    <p>Nu sunt imagini disponibile momentan.</p>
<% } %>


    <script src="/resurse/js/galerie.js"></script>
</body>
</html>
